$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  width: 100%;
  height: 100%;
}


body {
  width: 100%;
  height: 100%;

  /*Fonts*/
  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);


  font-family: Montserrat, Open-Sans, Helvetica, Arial, sans-serif;
  background-color: white;

  /* 	Default shadow settings
	two sets of shadows, both of them applied */
  text-shadow: 0px 8px 17px rgba(0, 0, 0, 0.20);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.50);

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: Montserrat, Open-Sans, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url('../images/index/tempImageBlurred.png') no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

#main-title {
  /* Sphere Main Title: */
  font-family: Montserrat-Bold;
  font-size: 92px;
  color: #FFFFFF;
  line-height: 112px;
  text-shadow: 0px 8px 17px rgba(0,0,0,0.20);
  text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
}

#title-phrase{
  /* Bills. Made Simple: */
  font-family: Montserrat-Regular;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
  text-shadow: 0px 8px 17px rgba(0,0,0,0.20);
  text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
}

#email-label{
  /* Be the first to get : */
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  text-shadow: 0px 8px 17px rgba(0,0,0,0.20);
  text-shadow: 0px 1px 4px rgba(0,0,0,0.50);

}
#iphone-img {
  width: 85%;
  height: 50%;
  position:relative;
  bottom: 0;
  right: 0;
}

#logo .img {
  float: left;
  width: 100px;
  height: 100px;
}

#logo .h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

@media(min-width: 768px) {
  .intro {
    height: 100vh;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }

  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

.features .h1 {
  padding-top: 50px;
}

#page-footer {
  min-height: 200px;
  background-color: #00FFFF;
}

#features-header {
  padding-top: 20px;
}

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

#divider {
  background-color: black;
  color: black;

  position: relative;
  @include rotate(90);

  width: 160px;
  padding-top: 1px;
  top: 60px;
}

/*Remove borders from bootstrap thumbnails*/
.thumbnail {
  border: 0 none;
  box-shadow: none;
}
