<!--Index page stylesheet-->
<link rel="stylesheet" href="styles/index.css"/>

<!--Intro-->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!--Sign up form-->
          <p>Be the first to get sphere</p>

          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter email address">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Sign up
                            </button>
                        </span>
          </div>
          <div id="scroll-down-link">
            <a href="#features" class="btn btn-circle page-scroll">
              <p>Scroll down</p>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--Features-->
<section id="features">
  <div class="container">
    <h1 id="features-header">Features</h1>


    <div class="row feature-row-1">
      <div class="col-md-4" ng-repeat="feature in featureList.slice(0 , 3)">
        <div class="thumbnail">
          <img ng-src="{{feature.img_src}}" alt="...">

          <div class="caption">
            <h3>{{feature.title}}</h3>

            <p>{{feature.desc}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row feature-row-2">
      <div class="col-md-4" ng-repeat="feature in featureList.slice(3 , 6)">
        <div class="thumbnail">
          <img ng-src="{{feature.img_src}}" alt="...">

          <div class="caption">
            <h3>{{feature.title}}</h3>

            <p>{{feature.desc}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer id="page-footer" class="footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>Be the first to get Sphere</p>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter email address">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Sign up
                            </button>
                        </span>
        </div>

      </div>
      <div class="col-xs-4 col-xs-offset-2">
        <a target="_blank" title="follow me on facebook"
           href="https://www.facebook.com/sphereapp"><img
          alt="follow me on facebook"
          src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png">
          Join us on facebook
        </a>

      </div>
    </div>
  </div>
</footer>

