<!--Intro-->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">

        <!--Left colummn-->
        <div class="col-md-8">
          <!--Logo-->

          <div>
            <img id="logo" src="../images/index/Logo1Temp.png">

            <h2 id="main-title">Sphere</h2>
            <h4 id="title-phrase">Bills. Made simple</h4>
          </div>

          <!--Sign up form-->

          <div class="col-md-8 col-md-offset-4" id="sign-up">
            <label class="label-join-sphere">Be the first to get Sphere:</label>
            <!-- Mailchimp Signup -->
            <div mailchimp size="'sm'"></div>
          </div>

        </div>

        <div class="col-md-4 hidden-xs">
          <img id="iphone-img" src="../images/index/iPhoneTempMockup.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <a ng-click="goToSection('features')" class="btn btn-circle page-scroll">
              <p id="scroll-down">Scroll down</p>
              <img src="../images/index/ScrollDownIcon.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Features-->
<section id="features">
  <div class="container">
    <h1 id="features-header">Features</h1>


    <div class="row">
      <div class="col-md-4 col-sm-3" ng-repeat="feature in featureList">
        <div class="thumbnail">
          <img ng-src="{{feature.img_src}}" alt="...">

          <div class="caption text-center">
            <h3>{{feature.title}}</h3>
            <p>{{feature.desc}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer id="page-footer" class="footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <label class="label-join-sphere">Be the first to get Sphere</label>

        <div id="form-sign-up" mailchimp size="'sm'"></div>

      </div>
      <div class="col-md-2 hidden-xs">
        <hr id="divider">
      </div>
      <div class="col-md-5">
        <img
          alt="follow us on facebook"
          src="../images/index/FacebookIcon.png">
        <a target="_blank" title="follow me on facebook"
           href="https://www.facebook.com/sphereapp">
          Follow us on Facebook
        </a>
      </div>
    </div>
  </div>
</footer>

