<!--Intro-->
<header class="intro">
  <div class="container">
    <div class="row">

      <!--Left colummn-->
      <div class="col-md-8 col-sm-12 col-xs-12">

        <!-- Padding to move Sphere down aside form smartphone -->
        <div class="hidden-xs" style="height: 30vh;"></div>

        <div>
          <img class="logo" src="../images/index/Logo1Temp.png">

          <div class="title">
            <span class="name">Sphere</span>
            <span class="phrase">Bills. Made simple</span>
          </div>
        </div>

        <!-- Padding to move signup down on smartphone -->
        <div class="visible-xs" style="height: 30vh;"></div>

        <div class="col-md-8 col-md-offset-4" id="sign-up">
          <label class="label-join-sphere">Be the first to get Sphere:</label>
          <!-- Mailchimp Signup -->
          <div mailchimp size="'sm'"></div>
        </div>

      </div>

      <div class="col-md-4 hidden-sm hidden-xs">
        <!-- Padding to move iPhone image down by screen height -->
        <div class="hidden-xs" style="height: 20vh;"></div>
        <img id="iphone-img" src="../images/index/iPhoneTempMockup.png">
      </div>
    </div>

    <div class="scroll">
      <a ng-click="goToSection('features')" class="btn btn-circle page-scroll">
        <p id="scroll-down">Scroll down</p>
        <img src="../images/index/ScrollDownIcon.png">
      </a>
    </div>

  </div>
</header>
<!--Features-->
<section id="features">
  <div class="container">
    <h1 id="features-header">Features</h1>


    <div class="row">
      <div class="thumbnail col-md-4 col-sm-6 col-xs-12" ng-repeat="feature in featureList">
        <img ng-src="{{feature.img_src}}">

        <div class="caption text-center">
          <h3>{{feature.title}}</h3>

          <p>{{feature.desc}}</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--Sign up process-->
<section id="section-sign-up">
  <div class="container">
    <h1>Signing up</h1>
    <div class="row">
      <div class="col-xs-12" >

          <p><span class="glyphicon glyphicon-edit"></span> Register</p>
          <p><span class="glyphicon glyphicon-plus"></span> Enter your utility information</p>
          <p><span class="glyphicon glyphicon-list-alt"></span> View your bills</p>

      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer id="page-footer" class="footer vertical-align">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <label class="label-join-sphere">Be the first to get Sphere</label>

        <div id="form-sign-up" mailchimp size="'sm'"></div>

      </div>
      <div class="col-md-2 visible-lg visible-md">
        <hr id="hr-divider">
      </div>
      <div class="col-md-5">

        <a target="_blank" title="follow me on facebook"
           href="https://www.facebook.com/sphereapp">
          <img
            alt="follow us on facebook"
            src="../images/index/FacebookIcon.png">
          Follow us on Facebook
        </a>
      </div>
    </div>
  </div>
</footer>

