<!--TODO: Move to scss file-->
<style>

  .navbar {
    background-color: silver;
    margin-bottom: 0;
    /*position: absolute;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*text-align: center;*/
    /*margin: auto;*/
  }

  .navbar .img-logo{
    width: 10%;
    height: 10%;
  }
</style>

<nav class="navbar navbar-default visible-lg" role="navigation">
  <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
    <!--</button>-->
  <!--</div>-->
  <a href="#">
    <img alt="brand" class="img-logo" src="../images/index/Logo1Temp@3x.png">
  </a>

  <div class="navbar-collapse collapse">
    <div class="nav navbar-nav navbar-left">
      <h1>Sphere</h1>
      <h4>Bills. Made simple</h4>
    </div>
    <form class="navbar-form navbar-right" role="search">
      <label class="label-join-sphere">Be the first to get Sphere:</label>
      <div mailchimp size="'sm'"></div>
    </form>
  </div>
</nav>
